<header>
    <nav class="navbar header container ">
        <a class="navbar-brand text-white" href="/">Home</a>
        <a class="" asp-action="Index" asp-controller="Foto">Admin</a>
        <partial name="_LoginPartial" />
           
        </div>
    </nav>
</header>