
body {
  background-color:#444;
  color:white;
  position:relative;
}
.webapp{
    width:100%;
}
header {
    background-color: #212529;
    height: 80px
}

footer{
    height:200px
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
}

.opa{
    opacity : 1;
}
.messageCrud {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.contactus {
    position: relative;
}

    .contactus:before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 130%;
        left: 27%;
        transform: translateX(-50%);
        padding: 5px 10px;
        background-color: #f09e07;
        color: #fff;
        border-radius: 5px;
        opacity: 0;
        z-index: 55;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .contactus:hover:before {
        opacity: 1;
        visibility: visible;
    }

.ics {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #18cda0;
}

#detailsModal {
    background-color: #555; 
    color:white;
    border: 2px solid #18cda0;
    max-width: 80%;
    width: 500px;
    max-height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}
.imgdet{
    width:200px;
}